.venv/
.python/
.luducat-tmp/
__pycache__/
.claude/
.idea/
*.pyc
*.log
repair.log
build/
dist/
CHANGELOG.md
.winetemp/
*.egg-info/
*.bak*
steam_family_data.json
.icons-installed
CLAUDE.md
[2l]*.txt
docs/general_development_notes/
tools/appimage*
tools/*.json
build-local-dist.sh

# memray profiling
memray*.bin
stats*.txt
table*.txt
memray*.html
tools/.attic/
